<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BMI</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="css/cssbmi.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5 text-center">Body Mass Index Calculator</h1>
      <div class="box mt-4 text-center">
        <p class="main"><%= valBMI.substring(0,5) %></p>
      </div>
    </div>
  </body>
</html>
